relaxng/dr/dr-all_ordered.rnc

namespace dc = "http://purl.org/dc/elements/1.1/"
default namespace ruleml = "http://www.ruleml.org/spec"

dc:title [ "Reaction RuleML Test Schema = Ordered" ]
dc:version [ "1.0" ]
dc:creator [ "Tara Athan (taraathan AT gmail.com)" ]
dc:creator [ "Adrian Paschke" ]
dc:subject [ "Reaction RuleML, all modules for validation, ordered" ]
dc:description [ "all modules for the ordered serialization of Reaction RuleML ." ]
dc:language [ "en" ]
dc:rights [ "TBD" ]
dc:relation [ "http://reaction.ruleml.org/1.0" ]
start = Node.choice | edge.choice
include "http://ruleml.org/1.0/relaxng/modules/andor_expansion_module.rnc" {
  start |= notAllowed
  And-Query.Node.def =
    
    ##
    element And { (And-Query-datt.choice & reAnd-Query.attlist), And.header, And-Query.main }
  Or-Query.Node.def =
    
    ##
    element Or { (Or-Query-datt.choice & reOr-Query.attlist), Or.header, Or-Query.main }
}
include "http://ruleml.org/1.0/relaxng/modules/asynchronous_stripe_skipping_entailment_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/asynchronous_stripe_skipping_implication_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/atom_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/card_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/closure_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/data_any_content_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/data_simple_content_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/dataterm_any_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/dataterm_simple_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_absent_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_absent_folog_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_inf_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_present_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_present_folog_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/direction_attrib_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/direction_default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/direction_non-default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/dis_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/equal_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/equivalent_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/explicit_datatyping_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/expr_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/folog_cl_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/fuzzy_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/implication_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/individual_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/init_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/iri_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/material_attrib_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/material_default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/material_non-default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/meta_expansion_module.rnc" {
  start |= notAllowed
  meta.edge.def =
    element meta {
      index-attrib.choice? & formula_AssertRetract.attlist? & formula_AssertRetract.content
    }
  Node.header &= empty
}
include "http://ruleml.org/1.0/relaxng/modules/metalevel_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/naf_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/neg_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/node_attribute_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/oid_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/ordered_groups_expansion_module.rnc" {
  start |= notAllowed
  Atom.header &= (Node.header?, degree-edge.choice?)?
  Expr.header &= Node.header?
}
include "http://ruleml.org/1.0/relaxng/modules/oriented_attrib_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/oriented_default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/oriented_non-default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/per_attrib_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/per_default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/per_non-default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/performative_expansion_module.rnc" {
  start |= notAllowed
  Assert.Node.def =
    
    ## A KQML-like performative acting as a wrapper specifying that its content is 
    ## asserted, making an 'implicit <Rulebase>' assumption.
    ## See http://www.ruleml.org/1.0/glossary/#gloss-Assert
    element Assert {
      (AssertRetract-datt.choice & reAssert.attlist), AssertRetract.header, AssertRetract.main
    }
}
include "http://ruleml.org/1.0/relaxng/modules/plex_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/quantification_expansion_module.rnc" {
  start |= notAllowed
  ExistsFormula.choice |=
    SimpleFormula-node.choice
    | And-Query-node.choice
    | Or-Query-node.choice
    | Negation-node.choice
    | NegationAsFailure-node.notallowed
    | Implication-fo-node.choice
    | Forall-fo-node.choice
    | Exists-node.choice
}
include "http://ruleml.org/1.0/relaxng/modules/reify_any_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/reify_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/reify_nodes_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/repo_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/resl_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/rulebase_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/short_name_contraction_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/skolem_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/slot_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/stripe_skipping_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/termseq_bin_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/termseq_poly_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/type_expansion_module.rnc" {
  start |= notAllowed
  # Note: In Reaction RuleML the type is changed to Term or Curie or IRI
  type.value = termOrCurieOrIRI.datatype
}
# include "http://ruleml.org/1.0/relaxng/modules/unordered_groups_expansion_module.rnc" {
#  start |= notAllowed
#  Atom.header &= (Node.header? & degree-edge.choice?)?
#  Expr.header &= Node.header?
# }
include "http://ruleml.org/1.0/relaxng/modules/val_absence_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/val_attrib_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/val_default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/val_non-default_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/variable_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/weight_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/xml_base_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/xml_id_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/xml_lang_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/xml_space_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/xsi_schemalocation_expansion_module.rnc" {
  start |= notAllowed
}
include "../modules/dr-all_module.rnc" {
  start |= notAllowed
}
include "../modules/any_content_expansion_module.rnc" {
  start |= notAllowed
}
include "../modules/stripe_skipping_expansion_module.rnc" {
  start |= notAllowed
}
include "../modules/ordered_groups_expansion_module.rnc" {
  start |= notAllowed
}
