relaxng/dr/dr-nafneghornlogeq_relaxed.rnc

namespace dc = "http://purl.org/dc/elements/1.1/"
namespace dcterms = "http://purl.org/dc/terms/"
default namespace ruleml = "http://ruleml.org/spec"

start |= Node.choice | edge.choice
# 
# ROOT NODE AND PERFORMATIVES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/performative_expansion_module.rnc" {
  start |= notAllowed
  Assert.Node.def =
    
    ## A KQML-like performative acting as a wrapper specifying that its content is 
    ## asserted, making an 'implicit <Rulebase>' assumption.
    ## See http://www.ruleml.org/1.0/glossary/#gloss-Assert
    element Assert {
      (AssertRetract-datt.choice & reAssert.attlist), AssertRetract.header, AssertRetract.main
    }
}
# 
# ATOMIC FORMULAS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/atom_expansion_module.rnc" {
  start |= notAllowed
}
# 
# CONJUNCTIONS AND DISJUNCTIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/andor_expansion_module.rnc" {
  start |= notAllowed
  And-Query.Node.def =
    
    ##
    element And { (And-Query-datt.choice & reAnd-Query.attlist), And.header, And-Query.main }
  Or-Query.Node.def =
    
    ##
    element Or { (Or-Query-datt.choice & reOr-Query.attlist), Or.header, Or-Query.main }
}
# 
# IMPLICATIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/implication_expansion_module.rnc" {
  start |= notAllowed
}
# 
# QUANTIFICATION OVER VARIABLES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/quantification_expansion_module.rnc" {
  start |= notAllowed
  ExistsFormula.choice |=
    SimpleFormula-node.choice
    | And-Query-node.choice
    | Or-Query-node.choice
    | Negation-node.choice
    | NegationAsFailure-node.notallowed
    | Implication-fo-node.choice
    | Forall-fo-node.choice
    | Exists-node.choice
}
# 
# EXPRESSIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/expr_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DISJUNCTIONS IN CONCLUSIONS INCLUDED
# 
# include "http://ruleml.org/1.0/relaxng/modules/dis_expansion_module.rnc" {
#  start |= notAllowed
# }
# 
# RESTRICTIONS ON COMPOUNDING CLASSICAL FORMULAS REMOVED 
#   FULL FIRST-ORDER EXPRESSIVITY (INCLUDING NEGATION) IS AVAILABLE 
# 
# include "http://ruleml.org/1.0/relaxng/modules/folog_cl_expansion_module.rnc" {
#  start |= notAllowed
# }
# 
# ATTRIBUTES WITH DEFAULT VALUES ARE INITIALIZED
#
include "http://ruleml.org/1.0/relaxng/modules/default_inf_expansion_module.rnc" {
  start |= notAllowed
}
# 
# ATTRIBUTES WITH DEFAULT VALUES ARE ABSENT OR OPTIONAL
#
include "http://ruleml.org/1.0/relaxng/modules/default_absent_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/default_absent_folog_expansion_module.rnc" {
  start |= notAllowed
}
# 
# ATTRIBUTES WITH DEFAULT VALUES REQUIRED
#
include "http://ruleml.org/1.0/relaxng/modules/default_present_expansion_module.rnc" {
  start |= notAllowed
}
# include "http://ruleml.org/1.0/relaxng/modules/default_present_folog_expansion_module.rnc" {
#  start |= notAllowed
# }
# 
# POLYADIC TERM (ONE OR MORE TERMS) SEQUENCES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/termseq_poly_expansion_module.rnc" {
  start |= notAllowed
}
# 
# ORDER MODE - UNORDERED GROUPS DISABLED
# 
# include "http://ruleml.org/1.0/relaxng/modules/ordered_groups_expansion_module.rnc" {
#  start |= notAllowed
#  Atom.header &= (Node.header? , degree-edge.choice?)?
#  Expr.header &= Node.header?
# }
# 
# ORDER MODE - UNORDERED GROUPS ENABLED
#
include "http://ruleml.org/1.0/relaxng/modules/unordered_groups_expansion_module.rnc" {
  start |= notAllowed
  Atom.header &= (Node.header? & degree-edge.choice?)?
  Expr.header &= Node.header?
}
# STRIPE-SKIPPING MODE ENABLED
#
include "http://ruleml.org/1.0/relaxng/modules/stripe_skipping_expansion_module.rnc" {
  start |= notAllowed
}
#
include "http://ruleml.org/1.0/relaxng/modules/asynchronous_stripe_skipping_entailment_expansion_module.rnc" {
  start |= notAllowed
}
#
include "http://ruleml.org/1.0/relaxng/modules/asynchronous_stripe_skipping_implication_expansion_module.rnc" {
  start |= notAllowed
}
# 
# EXPLICIT DATATYPING ENABLED
#
include "http://ruleml.org/1.0/relaxng/modules/explicit_datatyping_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/dataterm_simple_expansion_module.rnc" {
  start |= notAllowed
}
include "http://ruleml.org/1.0/relaxng/modules/data_simple_content_expansion_module.rnc" {
  start |= notAllowed
}
# 
# xsi:schemaLocation ALLOWED IN RuleML
#
include "http://ruleml.org/1.0/relaxng/modules/xsi_schemalocation_expansion_module.rnc" {
  start |= notAllowed
}
# 
# UNIVERSAL RESOURCE IDENTIFIERS (URIs) INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/iri_expansion_module.rnc" {
  start |= notAllowed
}
# 
# 
# RULEBASES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/rulebase_expansion_module.rnc" {
  start |= notAllowed
}
# 
# ENTAILMENTS (PROVES) INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/metalevel_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEGREE OF UNCERTAINTY INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/fuzzy_expansion_module.rnc" {
  start |= notAllowed
}
# 
# STRONG NEGATION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/neg_expansion_module.rnc" {
  start |= notAllowed
  NegFormula.choice |=
  SimpleFormula-node.choice
  | And-fo-node.choice
  | Or-fo-node.choice
  | Negation-node.choice
  | Implication-fo-node.choice
  | Forall-fo-node.choice
  | Exists-fo-node.choice
}
# 
# WEAK NEGATIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/naf_expansion_module.rnc" {
  start |= notAllowed
  NafFormula.choice |=
  SimpleFormula-node.choice
  | And-fo-node.choice
  | Or-fo-node.choice
  | Negation-node.choice
  | Implication-fo-node.choice
  | Forall-fo-node.choice
  | Exists-fo-node.choice
}
# 
# NODE IDENTIFIERS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/node_attribute_expansion_module.rnc" {
  start |= notAllowed
}
# 
# IN-PLACE ANNOTATIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/meta_expansion_module.rnc" {
  start |= notAllowed
  meta.edge.def =
    element meta {
      index-attrib.choice? & formula_AssertRetract.attlist? & formula_AssertRetract.content
    }
  Node.header &= empty
}
# 
# XML BASE ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/xml_base_expansion_module.rnc" {
  start |= notAllowed
}
# 
# XML ID ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/xml_id_expansion_module.rnc" {
  start |= notAllowed
}
# 
# EQUIVALENCES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/equivalent_expansion_module.rnc" {
  start |= notAllowed
}
# 
# INFERENCE DIRECTION ATTRIBUTE IS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/direction_attrib_expansion_module.rnc" {
  start |= notAllowed
}
# 
# NON-DEFAULT VALUES OF INFERENCE DIRECTION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/direction_non-default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEFAULT VALUES OF INFERENCE DIRECTION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/direction_default_expansion_module.rnc" {
  start |= notAllowed
}
# MATERIAL IMPLICATION ATTRIBUTE IS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/material_attrib_expansion_module.rnc" {
  start |= notAllowed
}
# 
# NON-DEFAULT VALUES OF MATERIAL IMPLICATION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/material_non-default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEFAULT VALUES OF MATERIAL IMPLICATION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/material_default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# OBJECT IDENTIFIERS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/oid_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SLOTS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/slot_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SLOT CARDINALITY INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/card_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SLOT WEIGHTS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/weight_expansion_module.rnc" {
  start |= notAllowed
}
# 
# EQUATIONS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/equal_expansion_module.rnc" {
  start |= notAllowed
}
# 
# ORIENTED EQUALITY ATTRIBUTE IS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/oriented_attrib_expansion_module.rnc" {
  start |= notAllowed
}
# 
# NON-DEFAULT VALUES OF ORIENTED EQUALITY ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/oriented_non-default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEFAULT VALUE OF ORIENTED EQUALITY ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/oriented_default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# EXPLICIT TYPING OF TERMS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/type_expansion_module.rnc" {
  start |= notAllowed
  # Note: In Reaction RuleML the type is changed to Term or Curie or IRI
  type.value = termOrCurieOrIRI.datatype
}
# 
# DATA TERMS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/dataterm_any_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DATA ELEMENTS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/data_any_content_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SKOLEM CONSTANTS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/skolem_expansion_module.rnc" {
  start |= notAllowed
}
# 
# REIFICATION TERMS INCLUDED, EXPLICIT CONTENT
#
include "http://ruleml.org/1.0/relaxng/modules/reify_expansion_module.rnc" {
  start |= notAllowed
}
# 
# INDIVIDUAL TERMS (INTERPRETED NAMES) ARE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/individual_expansion_module.rnc" {
  start |= notAllowed
}
# 
# VARIABLES (INTERPRETABLE NAMES) ARE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/variable_expansion_module.rnc" {
  start |= notAllowed
}
# 
# IMPLICIT CLOSURE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/closure_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SLOTTED REST VARIABLES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/resl_expansion_module.rnc" {
  start |= notAllowed
}
# 
# POSITIONAL REST VARIABLES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/repo_expansion_module.rnc" {
  start |= notAllowed
}
# 
# GENERALIZED LISTS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/plex_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SET-VALUED EXPRESSION ATTRIBUTE IS ABSENT OR OPTIONAL
#
include "http://ruleml.org/1.0/relaxng/modules/val_absence_expansion_module.rnc" {
  start |= notAllowed
}
# 
# SET-VALUED EXPRESSION ATTRIBUTE IS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/val_attrib_expansion_module.rnc" {
  start |= notAllowed
}
# 
# NON-DEFAULT VALUES OF THE SET-VALUED ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/val_non-default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEFAULT VALUE OF THE SET-VALUED ATTRIBUTE INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/val_default_expansion_module.rnc" {
  start |= notAllowed
}
# INTERPRETED EXPRESSION ATTRIBUTE IS INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/per_attrib_expansion_module.rnc" {
  start |= notAllowed
}
# 
# NON-DEFAULT VALUES OF EXPRESSION INTERPRETATION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/per_non-default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# DEFAULT VALUE OF EXPRESSION INTERPRETATION INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/per_default_expansion_module.rnc" {
  start |= notAllowed
}
# 
# INITIALIZATION MODULES INCLUDED
#
include "http://ruleml.org/1.0/relaxng/modules/init_expansion_module.rnc" {
  start |= notAllowed
}
#
include "../modules/dr-all_module.rnc" {
  start |= notAllowed
}
include "../modules/any_content_expansion_module.rnc" {
  start |= notAllowed
}
include "../modules/stripe_skipping_expansion_module.rnc" {
  start |= notAllowed
}
include "../modules/unordered_groups_expansion_module.rnc" {
  start |= notAllowed
}
